@use "@/shared/styles/tokens" as *;
@use "@/shared/styles/mixins" as *;

.form {
  display: grid;
  gap: $spacing-lg;
}

.row {
  display: grid;
  gap: $spacing-lg;
}

.actions {
  display: grid;
  gap: $spacing-sm;
}

@include media-sm {
  .row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
